body {
  display: grid;
  /* Tilføj navngivne linjer */
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 70ch) [content-end] 1fr [full-end];

  > * {
    grid-column: content;
  }

  > main {
    display: grid;
    grid-template-columns: subgrid;

    > .breakout {
      grid-column: full;
      background: #a8fad5;
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 760px) {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
  > header {
    display: grid;
    grid-template-columns: subgrid;
  }

  > footer {
    display: grid;
    grid-template-columns: subgrid;
  }
}
